/* Main form style */
.mass-translation-export-form th:first-child,
.mass-translation-export-form td:first-child {
  text-align: center;
  width: 20px;
}

.mass-translation-export-form th.mass-translation-ready,
.mass-translation-export-form td.mass-translation-ready{
  text-align: center;
  width: 160px;
}

.mass-translation-export-form th.mass-translation-operations,
.mass-translation-export-form td.mass-translation-operations{
  text-align: center;
  width: 100px;
}


/* Node table style */
#edit-nodetable .node-table-wrapper table{
  margin: 0;
}

#edit-nodetable .node-table-wrapper table th.column-op,
#edit-nodetable .node-table-wrapper table td.column-op {
  text-align: center;
  width: 85px;
}

#edit-nodetable .node-table-wrapper .scroll-filler {
  height: 6px;
  position: relative;
  visibility: hidden;
  z-index: 10;
}

#edit-nodetable .node-table-wrapper.scrolled .scroll-filler {
  visibility: visible;
  /* Gradient Background cross-browser */
  background: -moz-linear-gradient(top,  rgba(135,135,135,1) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(135,135,135,1)), color-stop(100%,rgba(0,0,0,0))); /* Chrome, Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(135,135,135,1) 0%,rgba(0,0,0,0) 100%); /* Chrome10+, Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(135,135,135,1) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(135,135,135,1) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(135,135,135,1) 0%,rgba(0,0,0,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#898989', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

#edit-nodetable .node-table-inner-wrapper {
  max-height: 350px;
  overflow-y: auto;
  position: relative;
  top: -6px;
}


/* Filter controls style */
#edit-nodetable {
  position: relative;
}

#edit-nodetable .node-table-wrapper{
  margin-top: 20px;
}

#edit-nodetable #mass-translation-node-filter-controls{
  position: absolute;
  right: 0;
  top: 0;
  width: 60%;
}

#edit-nodetable #mass-translation-node-filter-controls .form-item{
  display: inline-block;
  width: 49%;
}

#edit-nodetable #mass-translation-node-filter-controls input,
#edit-nodetable #mass-translation-node-filter-controls select{
  width: 90%;
}
